@using BlazorControlWork.Data
@using BlazorControlWork.Service
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UserService UserService

<PageTitle>BlazorControlWork</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!UserService.authorizationCheck)
            {
                <ruby>
                <a href="authorization">Sign in</a>
                <a href="registration">Register</a></ruby>
            }
            else
            {
                <ruby>Hello,<a href="profil">@UserService.user.Name @UserService.user.Surname</a></ruby>
                <ruby><a href="MyOrder">My Orders</a></ruby>
                <ruby><a href="/" @onclick="LogOut">Log out</a></ruby>
                
            }
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void LogOut()
    {
        UserService.authorizationCheck = false;
        NavigationManager.NavigateTo("/authorization");
    }
}
